@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.PageLayout {
    @include centered-page-layout;

    &__Container {
        text-align: center;

        &--sm {
            max-width: 400px;
        }

        &--md {
            max-width: 500px;
        }

        &--lg {
            max-width: 600px;
        }
    }
}
