@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.Recover {
    &__Title {
        @include page-title;
    }

    &__Subtitle {
        @include page-subtitle;
    }

    &__Form {
        @include form-layout;
    }
}
