@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.Text {
    font-family: var(--font-family);
    line-height: 1.5;

    &_base {
        color: var(--foreground);
    }

    &_subtle {
        color: var(--muted-foreground);
    }

    &_left {
        text-align: left;
    }

    &_center {
        text-align: center;
    }

    &_right {
        text-align: right;
    }

    &_xs {
        font-size: 0.75rem;
    }

    &_sm {
        font-size: 0.875rem;
    }

    &_md {
        font-size: 1rem;
    }

    &_lg {
        font-size: 1.125rem;

        @include mobile {
            font-size: 1rem;
        }
    }

    &_xl {
        font-size: 1.25rem;

        @include mobile {
            font-size: 1.1rem;
        }
    }
}