@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.PlatformGuides {
  padding: 0 0 5rem;

  &__Container {
    @include container;
    max-width: 64rem;
  }

  &__Description {
    max-width: 40rem;
    margin: 0.85rem auto 1.75rem;
  }

  &__Links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.85rem;
  }
}
