@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.SectionHeader {
    text-align: center;
    margin-bottom: 4rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        margin-bottom: 3rem;
    }

    &__Title {
        margin-bottom: 1rem;
    }

    &__Description {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.6;
    }
}