.BestAnswer {
  padding: 3rem 1.5rem 1rem;
}

.BestAnswer__Container {
  max-width: 72rem;
  margin: 0 auto;
}

.BestAnswer__List {
  margin: 1rem auto 0;
  max-width: 52rem;
  color: var(--text-subtle);
  line-height: 1.75;
  display: grid;
  gap: 0.25rem;
}
